@{
    ViewData["Title"] = "Record Submitted";
}

@model INTEX.Models.Burialmain;


<!--<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>-->
@*<style>
    import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
    import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
</style>*@
<!--<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">-->


<header class="site-header" id="header">
    <h1 class="site-header__title" data-lead-id="site-header-title">Record Added</h1>
</header>

<div class="main-content">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="main-content__body" data-lead-id="main-content-body">The record for burial ID: <b>@Model.Id</b> has been added to your burial list.</p>

    <a class="btn btn-succes mt-3" asp-controller="Home" asp-action="Data" role="button">Back to Burial Information</a>
</div>


