@{
    ViewData["Title"] = "Delete Record";
}

@model INTEX.Models.Burialmain;


@*<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
<style>
    import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
    import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
</style>
<link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">*@


<header class="site-header" id="header">
    <h1 data-lead-id="site-header-title">Are you sure you want to delete:  <span style="font-weight:bold">@Model.Id</span></h1>
</header>

<div class="main-content" style="margin-bottom: 400px;">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <form method="post" asp-controller="Home" asp-action="Delete" style="margin-bottom: 100px;">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Home" asp-action="Data" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="Id" />
    </form>

    <p class="main-content__body" data-lead-id="main-content-body" style="color: red;"><b>This action cannot be undone</b></p>
</div>
