.table {
    background-color: #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
}

    .table thead th {
        background-color: #556B2F;
        color: #fff;
    }

    .table tbody td {
        font-size: 0.875rem;
        vertical-align: middle;
    }

    .table td,
    .table th {
        padding: 1.25rem;
    }

        .table td:last-child,
        .table th:last-child {
            text-align: right;
        }

.btn-primary,
.btn-danger {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #556B2F;
    border-color: #556B2F;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #6B8E23;
    border-color: #6B8E23;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    background-color: #c82333;
    border-color: #c82333;
}
